@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish:wght@600&display=swap");

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./assets/GTWalsheimPro-Medium.ttf");
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
